<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="project"  parallel="tests">

    <test name="chrome">
        <parameter name="crossbrowser" value="chrome"/>
        <classes>
            <class name="project"/>
        </classes>
    </test>

    <test name="edge">
        <parameter name="crossbrowser" value="edge"/>
        <classes>
            <class name="project"/>
        </classes>
    </test>

</suite>